body{
	background-image: url('../img/bg.jpg')
}

.container{
	margin: 0 auto 0 auto;
	width: 8.0625rem;
	perspective: 25rem;
}

#box{
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	height: 100%;
	perspective-origin: 50% 50%;
	 -webkit-perspective-origin: 50% 50%;
}

#box > div{
	position: absolute;
	width: 8.0625rem;
	height: 73.125rem;
	
}